
/* small underline to be used for certain divs */
.underline{
    width:20px;
    height: 20px;
    border-top-style: solid;
    border-top-color: red;
    border-top-width: 2px;
}

.grey
{
    color:#595a5e;
}
.white
{
    color: #fff;
}
.l-grey
{
	color:#d3d3d3;
}

h1.thin
{
	font-weight:200;
}